@model IEnumerable<Webnc.Models.ChiTietGg>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />

</head>
<div class="card" style="margin: 24px">
    <table>
        <thead>
            <tr>
                <th>
                    <h5 class="card-header" style="margin-right: 10%">Danh Sách Giảm Giá Sản Phẩm</h5>
                </th>
                <th style="text-align:right; padding-right:28px">
                    <p class="btn btn-outline-primary white-hover-link">
                        <a asp-action="Create">Thêm</a>
                    </p>
                </th>
            </tr>
        </thead>
    </table>

    @if (TempData["ErrorMessage"] != null)
    {
        <div id="error-message" class="alert alert-danger" style="display: inline-block; max-width: 500px; margin-left: 20px;">
            @TempData["ErrorMessage"]
        </div>
    }
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Hàng hóa</th>
                        <th>Thông tin giảm giá</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaCtgg) 
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaGgNavigation.MaGg) - @Html.DisplayFor(modelItem => item.MaGgNavigation.TenGg)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaHhNavigation.MaHh) -   @Html.DisplayFor(modelItem => item.MaHhNavigation.TenHh)
                            </td>
                            <td>
                                <div class="d-flex justify-content-center my-3">
                                    <a class="btn btn-primary mr-3" asp-action="Edit" asp-route-id="@item.MaCtgg">Sửa</a>
                                    <span style=" margin-left: 1rem; margin-right: 1rem;"></span>
                                    
                                    <button type="button" class="btn btn-danger delete-button" data-id="@item.MaCtgg" data-url="/Admin/ChiTietGg/Delete" style="color: white;">Xóa</button>
                                </div>
                            </td>
                        </tr>
                    }
            </table>
        </div>
    </div>

    @section Scripts {
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="~/js/admin1.js"> </script>
        <script src="~/js/ad_action.js"> </script>
    }


   