@model Webnc.Models.HangHoa
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8 mx-auto">
    <div class="card my-4">
        <h5 class="card-header text-center">Chi Tiết Hàng Hóa</h5>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">Tên Hàng Hóa:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.TenHh)</dd>
                <dt class="col-sm-4">Đơn Giá:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.DonGia)</dd>
                <dt class="col-sm-4">Hình Ảnh:</dt>
                <dd class="col-sm-8">
                    <img src="~/Hinh/HangHoa/@System.IO.Path.GetFileName(@Model.Hinh)" class="img-thumbnail" />
                </dd>
                <dt class="col-sm-4">Mô Tả:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.MoTa)</dd>
                <dt class="col-sm-4">Số Lượng Tồn:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Sl)</dd>
                <dt class="col-sm-4">Loại Hàng:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.MaLoaiNavigation.TenLoai)</dd>
                <dt class="col-sm-4">Thương Hiệu:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.MaThNavigation.TenTh)</dd>
            </dl>
        </div>
        <div class="card-footer text-center">
            <a asp-action="Edit" asp-route-id="@Model?.MaHh" class="btn btn-primary mx-2">Chỉnh Sửa</a>
            <a asp-action="Index" class="btn btn-outline-dark mx-2">Quay Lại</a>
        </div>
    </div>
</div>
